Repository fohte/armyknife: changes, and which lefthook commands are due for each by the changed paths.
All: ast-grep-test, ast-grep-scan

lefthook.yml:

remotes:
  - git_url: https://github.com/fohte/lefthook-config.git
    ref: v0.1.14 # renovate: datasource=github-tags depName=fohte/lefthook-config
    configs:
      - base.yml
      - rust.yml

pre-commit:
  commands:
    ast-grep-test:
      glob: '.sg/{rules,tests}/*.yml'
      run: sg test
    ast-grep-scan:
      glob: '*.rs'
      run: sg scan

feat(wm/new): skip focus switch when run from Claude Code
  README.md
  src/commands/wm/new.rs
  src/infra/tmux/layout.rs
Due: ast-grep-scan

style(wm/new): trim CLAUDECODE comment to the why only
  src/commands/wm/new.rs
Due: ast-grep-scan

fix(tmux/layout): build background window without flicker
  src/infra/tmux/layout.rs
Due: ast-grep-scan

style(tmux/layout): branch new-window args instead of inserting -d
  src/infra/tmux/layout.rs
Due: ast-grep-scan

feat(wm/new): run in background when invoked from Claude Code (#595)
  README.md
  src/commands/wm/new.rs
  src/infra/tmux/layout.rs
Due: ast-grep-scan

deps: align reqwest features with v0.13 rename
  Cargo.lock
  Cargo.toml
Due: none

ci: enable weaker nested sandbox for srt 0.0.52
  srt-settings.json
Due: none

ci: switch to apparmor sysctl for unprivileged userns
  .github/workflows/test.yml
  srt-settings.json
Due: none

mise/test: pin TMPDIR to /tmp/claude inside srt sandbox
  .mise.toml
Due: none

mise/test: document why test config uses srt's Claude-shaped defaults
  .mise.toml
Due: none

fix(mise/test): pin TMPDIR to /tmp/claude inside srt sandbox (#605)
  .mise.toml
Due: none

deps: enable self_update reqwest backend feature for 0.44
  Cargo.toml
Due: none

deps: adapt to sha2 0.11 by extracting shared hex encoder
  src/commands/ai/pr_draft/common.rs
  src/commands/gh/pr_review/storage.rs
  src/infra/notification/icon.rs
  src/shared/hex.rs
  src/shared/human_in_the_loop/approval.rs
  src/shared/mod.rs
Due: ast-grep-scan

ci: resolve test.yml conflict by keeping taiki-e/install-action v2.79.13
  .github/workflows/test.yml
Due: none

cc: sweep stale pending_bg_task_ids via lsof liveness probe
  src/commands/cc/bg_task.rs
  src/commands/cc/mod.rs
  src/commands/cc/store.rs
  src/commands/cc/sweep/mod.rs
Due: ast-grep-scan

cc: take shared lock when sweeping bg ids in list_sessions
  src/commands/cc/bg_task.rs
  src/commands/cc/store.rs
Due: ast-grep-scan

cc: move bg-task sweep out of list_sessions into a dedicated helper
  src/commands/cc/bg_task.rs
  src/commands/cc/store.rs
  src/commands/wm/clean.rs
Due: ast-grep-scan

shared/command: route remaining call sites through wrapper
  src/commands/cc/tui/clean_progress.rs
  src/infra/external_tool.rs
  src/infra/git/test_utils.rs
  src/shared/hooks.rs
  src/shared/testing/git_repo.rs
Due: ast-grep-scan

sg: ban direct Command::new in production code
  .sg/rules/no-direct-command-new.yml
  .sg/tests/__snapshots__/no-direct-command-new-snapshot.yml
  .sg/tests/no-direct-command-new-test.yml
Due: ast-grep-test

sg: document tokio::Command migration path
  .sg/rules/no-direct-command-new.yml
  .sg/tests/no-direct-command-new-test.yml
Due: ast-grep-test

chore: enforce shared::command wrapper via ast-grep (#617)
  .sg/rules/no-direct-command-new.yml
  .sg/tests/__snapshots__/no-direct-command-new-snapshot.yml
  .sg/tests/no-direct-command-new-test.yml
  src/commands/cc/tui/clean_progress.rs
  src/infra/external_tool.rs
  src/infra/git/test_utils.rs
  src/shared/hooks.rs
  src/shared/testing/git_repo.rs
Due: ast-grep-test, ast-grep-scan

cc: route lsof spawn through shared::command wrapper
  src/commands/cc/bg_task.rs
Due: ast-grep-scan

fix(cc): expire stale pending_bg_task_ids (#616)
  src/commands/cc/bg_task.rs
  src/commands/cc/mod.rs
  src/commands/cc/store.rs
  src/commands/cc/sweep/mod.rs
  src/commands/wm/clean.rs
Due: ast-grep-scan

cc: push pane-scoped Claude Code status into tmux user option
  README.md
  src/commands/cc/hook.rs
  src/commands/cc/mod.rs
  src/commands/cc/pane_status.rs
  src/commands/cc/types.rs
Due: ast-grep-scan

cc: trim duplicated doc on sync_pane_option
  src/commands/cc/pane_status.rs
Due: ast-grep-scan

cc: use status name "paused" instead of ⏸ icon for pane status
  README.md
  src/commands/cc/pane_status.rs
Due: ast-grep-scan

cc: rename pane option to @armyknife-cc-pane-has-paused
  README.md
  src/commands/cc/mod.rs
  src/commands/cc/pane_status.rs
  src/commands/cc/types.rs
Due: ast-grep-scan

cc: thread in-memory session status to sync_pane_option
  src/commands/cc/hook.rs
  src/commands/cc/pane_status.rs
Due: ast-grep-scan

fix: resolve copier conflicts for generic-boilerplate v0.8.0
  .github/workflows/test.yml
  CLAUDE.md
Due: none

feat(cc): push `@armyknife-cc-pane-has-paused` into a pane option (#623)
  README.md
  src/commands/cc/hook.rs
  src/commands/cc/mod.rs
  src/commands/cc/pane_status.rs
  src/commands/cc/types.rs
Due: ast-grep-scan

cc/sweep: sync tmux pane / window option after auto-pause
  src/commands/cc/hook.rs
  src/commands/cc/mod.rs
  src/commands/cc/sweep/mod.rs
  src/commands/cc/tmux_sync.rs
Due: ast-grep-scan

cc/sweep: tighten pause_session doc and drop duplicated test comment
  src/commands/cc/sweep/mod.rs
Due: ast-grep-scan

fix(cc): sync tmux pane option after sweep auto_pause (#626)
  src/commands/cc/hook.rs
  src/commands/cc/mod.rs
  src/commands/cc/sweep/mod.rs
  src/commands/cc/tmux_sync.rs
Due: ast-grep-scan

cc/store: clean up Paused sessions when their pane is gone
  src/commands/cc/store.rs
Due: ast-grep-scan

cc/store: merge dead-pane cleanup tests into an rstest parameterized case
  src/commands/cc/store.rs
Due: ast-grep-scan

fix(cc): clean up Paused sessions whose pane has been closed (#631)
  src/commands/cc/store.rs
Due: ast-grep-scan

wm/new: roll back worktree on post-worktree-create hook failure
  src/commands/wm/new.rs
Due: ast-grep-scan

wm/new: drop redundant test setup comment
  src/commands/wm/new.rs
Due: ast-grep-scan

wm/new: restore force-reset branch tip on hook failure
  src/commands/wm/new.rs
Due: ast-grep-scan

wm/new: point user at `a wm delete` instead of `a wm clean` on rollback failure
  src/commands/wm/new.rs
Due: ast-grep-scan
